.newest {
  background: rgba(0, 171, 85, 0.08);
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 120px;
  padding-bottom: 50px;
}
@media screen and (max-width: 1201px) {
  .newest {
    padding: 40px 20px 20px;
  }
  .img {
    scale: 0.5;
  }
}
