.convenient {
  padding: 120px 0px 120px;
}
.gray_text {
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 28px;
  color: #637381;
}
@media screen and (max-width: 1201px) {
  .convenient {
    padding: 40px 0 0;
    margin-bottom: 20px;
  }
}
