.header {
  padding: 10px 120px;
}
.logo {
  margin-top: 8px;
}
/* .header
  :global(.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input) {
  padding-bottom: 0;
} */
.button {
  border-radius: 8px;
}
