.header {
  padding: 10px 120px;
}
.logo {
  margin-top: 8px;
}
/* .header
  :global(.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input) {
  padding-bottom: 0;
} */
.button {
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 171, 85, 0.24);
}
.normal_text {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 24px;
  transition: 0.4s;
  padding: 2px;
}
@media screen and (max-width: 1201px) {
  .header {
    padding: 0 20px 30px;
  }
  .normal_text {
    text-align: left;
    width: 100%;
    font-weight: 700 !important;
    padding: 10px 3px;
  }
  .button {
    border-radius: 5px;
    padding: 13px 16px !important;
  }
}
.normal_text:hover {
  background-color: rgb(250, 249, 247);
  color: #00ab55;
  /* font-weight: 700 !important; */
  text-shadow: 0.25px 0px 0.1px, -0.25px 0px 0.1px;
}
