a:-webkit-any-link {
  text-decoration: unset;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
.slick-prev,
.slick-next {
  width: 100px;
  height: 100px;
  top: 50%;
}
.slick-prev {
  z-index: 10;
}
.slick-next {
}
.slick-track {
  margin: auto;
}
.slick-slider {
  display: flex;
}
