@import url('./scss/constant.css');
a:-webkit-any-link {
  text-decoration: unset;
}
a,
a:visited,
a:hover,
a:active {
  /* color: inherit; */
}
.slick-prev,
.slick-next {
  width: 100px;
  height: 100px;
  top: 50%;
}
.slick-prev {
  z-index: 10;
}
.slick-next {
}
.slick-track {
  margin: auto;
}
.slick-slider {
  display: flex;
}

/* form */

.MuiInputLabel-asterisk {
  color: red;
}
label[data-shrink='false'] span {
  display: none;
}
.MuiInputLabel-shrink {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 150% */

  /* 11 Text Color/Light/03 Text Disabled */

  color: #919eab;
}

.MuiCheckbox-root {
  padding: 0 !important;
}

.Mui-checked {
  color: var(--primary_color) !important;
}
.MuiFormHelperText-root {
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  /* identical to box height, or 150% */

  /* 06 Error/03 Main */

  color: #ff4842 !important;
  margin: 2px 0 0 0 !important;
}
.MuiFormControlLabel-root {
  margin-left: 0 !important;
}
.MuiOutlinedInput-root input {
  font-weight: 400 !important;
}

.MuiOutlinedInput-root {
  border-radius: 8px !important;
}
.MuiFormLabel-root.Mui-focused {
  color: var(--primary_color) !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary_color) !important;
}

/* select */
.MuiMenuItem-root {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  /* identical to box height, or 157% */

  /* 11 Text Color/Light/01 Text Primary */

  color: #212b36 !important;
}

.MuiPaper-root {
  /* background: #ffffff !important; */
  border-radius: 12px !important;
}
.MuiSelect-select {
  font-weight: 400 !important;
}
